/* #education{

    text-shadow: 2px 3px 6px #000000;
    font-weight: bold;
    color: rgb(41, 41, 59);
}
#work-experience{

    text-shadow: 2px 3px 6px #000000;
    font-weight: bold;
    color: rgb(41, 41, 59);
}
#extracurriculars{

    text-shadow: 2px 3px 6px #000000;
    font-weight: bold;
    color: rgb(41, 41, 59);
}
#awards{

    text-shadow: 2px 3px 6px #000000;
    font-weight: bold;
    color: rgb(41, 41, 59);
} */